<div class="card">
  <div class="card-header">
    <div class="task-sub">
      <h2>{{this.subject}}</h2>
      <p class="status">Completed</p>
      <div class="icons">
        <a href="#">
          <img src="/edit icon.png" alt="edit" />
        </a>
        <a href="##">
          <img src="delete icon.png" alt="delete" />
        </a>
      </div>
    </div>
    <div class="card-info">
      <span class="date">{{this.createdAt}}</span>
    </div>
  </div>
  <div class="card-body">
    <p>{{this.description}}.</p>
  </div>
</div>
