
<div class="container">

  <div class="sidebar">
    <h1>Task Management</h1>

      <div class="sidebar-body">
        <a class="active" href="/tasks">
          <div>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z">
              </path>
            </svg>
            <span>Tasks</span>
          </div>
            <span class="count">4</span>
        </a>
        <a class="normal" href="/create">
          <div class="create">
            <span class="plus">+</span>
            <span>Create Task</span>
          </div>
        </a>
      </div>
  </div>

  <main class="main-content">{{outlet}}</main>
</div>