<div id="feedback-form">
  <h2 class="header">Create Task</h2>
  <div>
    <form>
      {{!-- template-lint-disable require-input-label --}}
      <input type="text" name="subject" placeholder="Subject" required>
      <textarea name="description" placeholder="Description" required></textarea>
      <button type="submit">Create</button>
    </form>
  </div>
</div>